*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width:100%;
    height:100vh;
    background-color:rgb(202,200,197);
    position:relative;
}

.container svg{
    position: absolute;
    width: 100%;
    height:100vh;
}